.wr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 120px;
    
}
button{
    max-width: 100px;
    max-height: 50px;
    justify-content: center;
}

