.wrap{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 190px;
    gap: 18px;
}

.h1{
    text-align: center; 
}

.buttonWr{
    text-align: center;
}

button{
    max-width: 100px;
    max-height: 50px;
    justify-content: center;
}

.header{
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0px;
    width: 100vw;
    top: 100px;
    z-index: 9;
    background-color: white;
}